<font face="XB Zar" size=5><div dir=rtl align=center>
<font face="IranNastaliq" size=5>
به نام خدا
</font>
<br>
<font size=3>
دانشگاه صنعتی شریف - دانشکده مهندسی کامپیوتر
</font>
<br>
<font color=green size=5>
پردازش زبان های طبیعی - تمرین اول
</font>

<hr/>
<font color=blue size=5>
‌ حدیث احمدیان
<br>
400211524
<hr>
</div></font>

<font face="XB Zar" size=4><div dir=rtl>
<font color="red" size=5>1. دانلود متون و توضیحاتی درمورد آن ها</font>

</div></font>

<font face="XB Zar" size=4><div dir=rtl>
*** به دلیل سرعت بد اینترنت نتوانستم از هیچکدام از پلتفرم هایی که برای آپلود فایل لینک دانلود مستقیم در اختیار قرار میدهند استفاده کنم. فایل متون در کنار تکلیف ضمیمه شده است لطفا برای اجرا آن ها را در دایرکتوری اجرای نوت بوک قرار دهید. ***

اگر به هردلیلی در دانلود مشکلی پیش آمد، فایل متن ها در پوشه ای کنار این نوت بوک ضمیمه شده است.
<br>
متن های انتخابی در واقع فیلم نامه ی پنج تا از فیلم مورد علاقه ی بنده هست و هدف یافتن عناصر مشترک بین آن هاست.
<br>
فیلمنامه ها از وبسایت https://www.scriptslug.com/script/mr-nobody-2009 دانلود شده اند که ابتدا به صورت pdf بوده اند و با استفاده از لینک https://pdftotext.com/ به فرمت txt تبدیل شده اند.
<br>
نکته ی مورد توجه در مورد فایل فیلمنامه این هست که صفحه ی اول آن مختص به عنوان، نام نویسنده و ... میباشد پس قبل از استفاده از فایل ها برای این نوت بوک، صفحه ی اول آن ها حذف شده است.
<br>
فیلم های انتخابی به این قرار هستند:
<br>
- Eternal Sunshine of the Spotless Mind
- Her
- Interstellar
- La La land
- Mr. nobody
</font>

<font face="XB Zar" size=4><div dir=rtl>
<font color="red" size=5>2. Import کردن کتابخانه های موردنیاز و نصب پکیج های مورد نیاز</font>

</div></font>

<font face="XB Zar" size=4><div dir=rtl>
در ذیل کتابخانه ها و پکیج های مورد نیاز نصب و import شده اند.

In [1]:
import random 
import tqdm
import nltk, re
from nltk.corpus import brown
from nltk import word_tokenize
import string
from nltk.probability import FreqDist
import numpy as np
import itertools
from nltk import FreqDist
import itertools
import pandas as pd
from nltk.tokenize import sent_tokenize
import nltk
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [2]:
nltk.download("punkt")
nltk.download("stopwords")
nltk.download("wordnet")
nltk.download("omw-1.4")
nltk.download("brown")

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Package brown is already up-to-date!

True

<font face="XB Zar" size=4><div dir=rtl>
<font color="red" size=5>3. تعریف توابع مورد نیاز</font>

</div></font>

<font face="XB Zar" size=4><div dir=rtl>
در ذیل توابع موردنیاز تعریف شده اند که هرکدام توضیح داده خواهد شد.
<br>
نکته ی قابل توجه این است که اکثریت این کدها از نوت بوک نمونه ی کلاس موجود در لینک گیتهاب برداشته شده و بخش های اندکی از آن بنابر مورد استفاده تغییر داده شده که توضیح داده خواهد شد.

<font face="XB Zar" size=4><div dir=rtl>
<font color="blue" size=5>تابع tokenBySent</font>

</div></font>

<font face="XB Zar" size=4><div dir=rtl>
این تابع متن را دریافت میکند و سپس با sent_tokenize که بالاتر import شده است، جملات متن را جدا میکند و در متغیر sent میریزد سپس با استفاده از پترن های RE تعریف شده توکن های هر جمله را جداسازی میکند. دروافع خروجی این تابع لیستی از لیست ها هست که هر لیست یک جمله و محتویات آن توکن های آن جمله است.

In [3]:
def tokenBySent(txt):
  sents=sent_tokenize(txt)
  # http://stackoverflow.com/questions/36353125/nltk-regular-expression-tokenizer
  pattern = r'''(?x)          # set flag to allow verbose regexps
          (?:[A-Z]\.)+        # abbreviations, e.g. U.S.A.
        | \w+(?:-\w+)*        # words with optional internal hyphens
        | \$?\d+(?:\.\d+)?%?\s?  # currency and percentages, e.g. $12.40, 82%
        | \.\.\.              # ellipsis
        | [][.,;"'?():_`-]    # these are separate tokens; includes ], [
      '''

  pattern = re.compile(pattern)

  sents_tocken=[]
  for s in sents:
    sents_tocken.append(nltk.regexp_tokenize(s, pattern))
  return sents_tocken

<font face="XB Zar" size=4><div dir=rtl>
<font color="blue" size=5>تابع normalize_sentence</font>

</div></font>

<font face="XB Zar" size=4><div dir=rtl>
این تابع خروجی تابع قبلی را میگیرد و نرمالایز میکند به این صورت که همه حروف را lowercase میکند، stopword ها و punctuation ها را حذف میکند.
تفاوت های این تابع با تابع نوت بوک های کلاس تنها در بخش حذف stopword ها هست. با به این صورت که اگر کاربر علاوه برا stopwordها پیش فرض stopwordی وارد کند، بدون lowercase شدن با متن مقایسه و حذف خواهد شد. علت این امر این است که عباراتی در فیلم نامه ها وجود دارند که همگی uppercase هستند و اگر lowercase شوند ممکن است با کلمات عادی دیگری اشتباه گرفته شوند. مانند EXIT که برای پایان یک صحنه است و exit که میتواند برای صرفا در جمله ای محاوره ای به کار رفته باشد.
<br>
خروجی این بخش دقیقا به فرمت ورودی است با این تفاوات که نرمالایز شده.

In [4]:
def normalize_sentence(tokenized_sents, minimum_length=2, stopword_removal=True, stopwords_domain=[], lower_case=True, punctuation_removal=True):
    '''
    normalization function
    '''
    normalized_sents = tokenized_sents
    
    if stopword_removal:
        # Remove stopwords in English and also the given domain stopwords
        stopwords = [x.lower() for x in nltk.corpus.stopwords.words('english')]
        normalized_sents=[[word for word in sentence if (word.lower() not in stopwords)] for sentence in tokenized_sents ]
        normalized_sents=[[word for word in sentence if (word not in stopwords_domain)] for sentence in normalized_sents ]

    if punctuation_removal:
        # Remove punctuations
        normalized_sents=[[word for word in sentence if word not in string.punctuation] for sentence in normalized_sents ]

    if lower_case:
        # Convert everything to lowercase and filter based on a min length
        normalized_sents=[[word.lower() for word in sentence if len(word)>minimum_length] for sentence in normalized_sents ]

    elif minimum_length>1:
        normalized_sents= [[word for word in sentence if len(word)>minimum_length] for sentence in normalized_sents ]        
        
    return normalized_sents

<font face="XB Zar" size=4><div dir=rtl>
<font color="blue" size=5>تابع properties</font>

</div></font>

<font face="XB Zar" size=4><div dir=rtl>
این تابع لیستی از کلمات میگیرد و تعداد کلمات، کلمات یکتا، میانیگن طول کلمات و جملات و طولانی ترین کلمه ی متن را چاپ میکند.

In [5]:
def properties(normed_w):
  sentence_words = list(itertools.chain(*normed_w))
  print ('%-16s' % 'Number of words', '%-16s' % len(sentence_words))
  print ('%-16s' % 'Number of unique words', '%-16s' % len(set(sentence_words)))
  avg=np.sum([len(word) for word in sentence_words])/len(sentence_words)
  print ('%-16s' % 'Average word length', '%-16s' % avg)
  avg_sentence_length_c=np.mean([len(' '.join(sentence)) for sentence in sentence_words])
  print ('%-16s' % 'Average sentence length in characters', '%-16s' % avg_sentence_length_c)
  print ('%-16s' % 'Longest word', '%-16s' % sentence_words[np.argmax([len(word) for word in sentence_words])])
  print("---------------------------------\n")

<font face="XB Zar" size=4><div dir=rtl>
<font color="blue" size=5>تابع get_lemma_set</font>

</div></font>

<font face="XB Zar" size=4><div dir=rtl>
این تابع توکن ها را دریافت میکند و با توجه به آپشن ورودی opt یا آن ها را با PorterStemer، stem میکند و یا با WorldNetLemmatizer، Lemmatize میکند.

In [6]:
lemmatizer = WordNetLemmatizer()
stemmer  = PorterStemmer()


def get_lemma_set(tok, opt=2):
    if opt ==1:
        return stemmer.stem(tok)
    if opt ==2:
        return lemmatizer.lemmatize(tok)

<font face="XB Zar" size=4><div dir=rtl>
<font color="red" size=5>4. پردازش متن</font>

</div></font>

<font face="XB Zar" size=4><div dir=rtl>
در این قسمت محتوای فایل ها خوانده شده و در متغیرهای نظیر خود ریخته میشوند.

In [7]:
with open('eternal-sunshine-of-the-spotless-mind-2004.txt', 'r') as file:
    eternal = file.read()
with open('her-2013.txt', 'r') as file:
    her = file.read()
with open('interstellar-2014.txt', 'r') as file:
    interstellar = file.read()
with open('la-la-land-2016.txt', 'r') as file:
    lalaland = file.read()
with open('mr-nobody-2009.txt', 'r') as file:
    mrnobody = file.read()

<font face="XB Zar" size=4><div dir=rtl>
در این قسمت هر متن با استفاده از توابع تعریف شده، توکنایز و نرمالایز میشود و سپس ویژگی های کلی آن (همان زول جملات و تعداد کلمات و...) چاپ میشود.
<br>
علاوه بر stopword های پیش فرض ما استاپ ..رد های زیر را نیز در نظر گرفتیم که همانگونه که توضیح دادیم موارد مربوط به توضیحات فیلمنامه و جابجایی بین سکانس ها و ... هستند و طبیعتا همه ی فیلمنامه ها این هارا دارند و ما میخواهیم متن اصلی را تحلیل کنیم پس این ها را حذف میکنیم.
<br>
این stopwordها عبارت هستند از :
<br>
"INT","...","CONT’D","CONT","EXT","EXIT"

In [8]:
sents_tocken_eternal=tokenBySent(eternal)
normed_w_eternal=normalize_sentence(sents_tocken_eternal,stopwords_domain=["INT","...","CONT’D","CONT","EXT","EXIT"])
properties(normed_w_eternal)


sents_tocken_her=tokenBySent(her)
normed_w_her=normalize_sentence(sents_tocken_her,stopwords_domain=["INT","...","CONT’D","CONT","EXT","EXIT"])
properties(normed_w_her)


sents_tocken_interstellar=tokenBySent(interstellar)
normed_w_interstellar=normalize_sentence(sents_tocken_interstellar,stopwords_domain=["INT","...","CONT’D","CONT","EXT","EXIT"])
properties(normed_w_interstellar)


sents_tocken_lalaland=tokenBySent(lalaland)
normed_w_lalaland=normalize_sentence(sents_tocken_lalaland,stopwords_domain=["INT","...","CONT’D","CONT","EXT","EXIT"])
properties(normed_w_lalaland)


sents_tocken_mrnobody=tokenBySent(mrnobody)
normed_w_mrnobody=normalize_sentence(sents_tocken_mrnobody,stopwords_domain=["INT","...","CONT’D","CONT","EXT","EXIT"])
properties(normed_w_mrnobody)

Number of words  13533
Number of unique words 2849
Average word length 5.665410478090593
Average sentence length in characters 10.330820956181187
Longest word     mock-sophisticated
---------------------------------

Number of words  9207
Number of unique words 2111
Average word length 5.915933528836755
Average sentence length in characters 10.83186705767351
Longest word     beautifulhandwrittenletters
---------------------------------

Number of words  14220
Number of unique words 3083
Average word length 5.787412095639944
Average sentence length in characters 10.574824191279887
Longest word     three-hundred-foot
---------------------------------

Number of words  9556
Number of unique words 2721
Average word length 5.580786940142319
Average sentence length in characters 10.161573880284639
Longest word     ahhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhht
---------------------------------

Number of words  16586
Number of unique words 3770
Average word length 5.485469673218377
Average sentence length in characters 9.970939346436754
Longest word     h-i-b-e-r-n-a-t-i-o-n
---------------------------------

<font face="XB Zar" size=4><div dir=rtl>
در این قسمت خروجی های قسمت قبل را با استفاده از توابع تعریف شده، lemmatize میکنیم.
<br>
ابتدا باید لیست دو بعدی جملات- توکن ها را به یک لیست یک بعدی که شامل تمام توکن ها است تبدیل کنیم و سپس از تابع get_lemma_set استفاده کنیم.
<br>
علت استفاده lemmatizing این هست که بعدا میخواهیم ببینیم فیلم ها چه مفاهیم مشترکی داشتند پس بهتر است مفهوم کلمات حفظ شود.

In [9]:
opt = 2
eternal_all_token=list(itertools.chain(*normed_w_eternal))
eternal_tokens_nonstop_lemstem = [get_lemma_set(t, opt) for t in tqdm.tqdm(eternal_all_token)]

opt = 2
her_all_token=list(itertools.chain(*normed_w_her))
her_tokens_nonstop_lemstem =   [get_lemma_set(t, opt) for t in tqdm.tqdm(her_all_token)]

opt = 2
interstellar_all_token=list(itertools.chain(*normed_w_interstellar))
interstellar_tokens_nonstop_lemstem =   [get_lemma_set(t, opt) for t in tqdm.tqdm(interstellar_all_token)]

opt = 2
lalaland_all_token=list(itertools.chain(*normed_w_lalaland))
lalaland_tokens_nonstop_lemstem =   [get_lemma_set(t, opt) for t in tqdm.tqdm(lalaland_all_token)]

opt = 2
mrnobody_all_token=list(itertools.chain(*normed_w_mrnobody))
mrnobody_tokens_nonstop_lemstem =   [get_lemma_set(t, opt) for t in tqdm.tqdm(mrnobody_all_token)]

100%|██████████| 13533/13533 [00:02<00:00, 4824.11it/s]
100%|██████████| 9207/9207 [00:00<00:00, 97813.97it/s]
100%|██████████| 14220/14220 [00:00<00:00, 205417.61it/s]
100%|██████████| 9556/9556 [00:00<00:00, 198248.88it/s]
100%|██████████| 16586/16586 [00:00<00:00, 232685.65it/s]

<font face="XB Zar" size=4><div dir=rtl>
<font color="red" size=5>5. تحلیل فرکانس</font>

</div></font>

<font face="XB Zar" size=4><div dir=rtl>
در این بخش ما خروجی های قسمت قبل که درواقع توکنایز، نرمالایز و lemmatize شده ی متون ورودی هستند را بررسی میکنیم و 75 توکن از هرکدام که بیشترین تکرار را داشتند در قالب یک دیتافریم چاپ میکنیم.
<br>
طبیعتا نام شخصیت های فیلم جزو کلمات پرتکرار خواهد بود، پس برای اینکه به یک سری مفهوم پرتکرار به جز اسامی برسیم به جای 50 تا 75 تا پرتکرارترین را درنظر گرفتیم.

In [19]:


dataframe = {}

for opt in ['eternal','her','interstellar','lalaland','mrnobody']:
     dataframe[opt] = FreqDist(eval(F"{opt}_tokens_nonstop_lemstem")).most_common(75)

freq_analysis = pd.DataFrame(dataframe)

In [20]:
freq_analysis

,eternal,her,interstellar,lalaland,mrnobody
0,"(joel, 909)","(theodore, 698)","(cooper, 927)","(mia, 577)","(nemo, 1131)"
1,"(clementine, 590)","(samantha, 368)","(murph, 397)","(sebastian, 494)","(anna, 247)"
2,"(continued, 213)","(continued, 186)","(brand, 377)","(look, 137)","(day, 234)"
3,"(mary, 176)","(know, 106)","(continuous, 225)","(revision, 84)","(elise, 188)"
4,"(stan, 167)","(amy, 90)","(look, 193)","(see, 81)","(look, 173)"
...,...,...,...,...,...
70,"(memory, 29)","(could, 21)","(line, 27)","(dance, 19)","(light, 33)"
71,"(take, 28)","(thing, 21)","(reach, 27)","(mom, 19)","(want, 33)"
72,"(guy, 28)","(people, 21)","(space, 26)","(time, 19)","(wake, 32)"
73,"(train, 27)","(around, 21)","(away, 26)","(two, 19)","(image, 32)"
74,"(smile, 27)","(actually, 21)","(ten, 26)","(people, 19)","(flash, 32)"

<font face="XB Zar" size=4><div dir=rtl>
<font color="red" size=5>6. یافتن مفاهیم مشترک</font>

</div></font>

<font face="XB Zar" size=4><div dir=rtl>
برای اینکه ببینیم فیلمنامه ها چه مفاهیم مشترکی داشتند، هرستون از دیتافریم فوق را به صورت یک مجموعه در نظر میگیریم و سپس هر توکنی که در حداقل سه تا از فیلمنامه ها جزو 75 توکن پرتکرار بودند(در اشتراک 3 مجموعه حضور داشتند) را در متغیر common_set ذخیره و چاپ میکنیم.

In [21]:
common_set=set([])
set_eternal=set([x[0] for x in freq_analysis["eternal"]])
set_her=set([x[0] for x in freq_analysis["her"]])
set_interstellar=set([x[0] for x in freq_analysis["interstellar"]])
set_lalaland=set([x[0] for x in freq_analysis["lalaland"]])
set_mrnobody=set([x[0] for x in freq_analysis["mrnobody"]])
ommon_set=set([])
for x in [set_eternal,set_her,set_interstellar,set_lalaland,set_mrnobody]:
  for y in [set_eternal,set_her,set_interstellar,set_lalaland,set_mrnobody]:
    for z in [set_eternal,set_her,set_interstellar,set_lalaland,set_mrnobody]:
      if x!=y and x!=z and y!=z:
        common_set=common_set.union(x&y&z)

common_set

{'apartment',
 'around',
 'back',
 'car',
 'come',
 'day',
 'door',
 'eye',
 'get',
 'going',
 'good',
 'hand',
 'head',
 'know',
 'like',
 'little',
 'look',
 'love',
 'make',
 'moment',
 'night',
 'one',
 'open',
 'people',
 'pull',
 'right',
 'room',
 'say',
 'see',
 'smile',
 'something',
 'start',
 'stop',
 'take',
 'thing',
 'think',
 'time',
 'turn',
 'two',
 'voice',
 'walk',
 'want',
 'watch',
 'way',
 'well'}

<font face="XB Zar" size=4><div dir=rtl>
برای اینکه ببینیم فیلمنامه ها چه مفاهیم مشترکی داشتند، هرستون از دیتافریم فوق را به صورت یک مجموعه در نظر میگیریم و سپس هر توکنی که در حداقل سه تا از فیلمنامه ها جزو 50 توکن پرتکرار بودند را در متغیر common_set ذخیره و چاپ میکنیم.
<br>
میتوان دید در این فیلم ها مفاهیم مشترکی مانند موارد زیر وجود دارد
<br>
- love
- moment
- time
- watch
- look
- eye
- voice
- walk
- ...

<font face="XB Zar" size=4><div dir=rtl>
<font color="red" size=5>7. بررسی اثر حذف پیش پردازش ها</font>

</div></font>

<font face="XB Zar" size=4><div dir=rtl>
در این بخش توکن های خام و بدون پیش پردازش را تحلیل بسامد میکنیم و اهمیت پیش پردازش ها را مشاهده میکنیم.
<br>
- طبیعتا punctuationها در تمام متون از پرتکرار ترین ها هستند پس اینجا هم بهعنوان پرتکرار ها نمایششان میدهد (چون حذفشان نکردیم)
- کلماتی مانند CONT و INT که از عبارات مخصوص فیلمنامه هستند و حذف نشدند طبیعتا پرتکرار هستند و آن ها را میبینیم.
- کلماتی مثل THEODORE و Theodore دوبار شمرده شده اند
- ضمایر جزو عبارات پرتکرار میشوند

In [15]:
sents_tocken_eternal=list(itertools.chain(*sents_tocken_eternal))
sents_tocken_her=list(itertools.chain(*sents_tocken_her))
sents_tocken_interstellar=list(itertools.chain(*sents_tocken_interstellar))
sents_tocken_lalaland=list(itertools.chain(*sents_tocken_lalaland))
sents_tocken_mrnobody=list(itertools.chain(*sents_tocken_mrnobody))

In [16]:

dataframe = {}

for opt in ['eternal','her','interstellar','lalaland','mrnobody']:
      
     dataframe[opt] = FreqDist(eval(F"sents_tocken_{opt}")).most_common(50)

freq_analysis = pd.DataFrame(dataframe)

In [17]:

freq_analysis

,eternal,her,interstellar,lalaland,mrnobody
0,"(., 3225)","(., 2039)","(., 2510)","(., 2083)","(., 3895)"
1,"(', 1481)","(,, 1000)","(,, 1261)","(-, 1158)","(the, 1513)"
2,"(,, 1194)","(I, 747)","(the, 1104)","(,, 809)","(,, 1220)"
3,"(I, 971)","(you, 479)","(-, 1091)","(the, 658)","(-, 801)"
4,"(the, 795)","(THEODORE, 462)","(to, 553)","(a, 440)","(a, 770)"
5,"(to, 556)","((, 439)","(..., 506)","(..., 386)","(Nemo, 714)"
6,"(a, 506)","(), 439)","(Cooper, 494)","(to, 376)","(is, 627)"
7,"((, 493)","(to, 407)","(COOPER, 432)","(and, 342)","(of, 529)"
8,"(), 493)","(the, 406)","(a, 395)","(s, 337)","(He, 493)"
9,"(s, 474)","(a, 395)","(s, 333)","(Mia, 317)","(in, 489)"
10,"(JOEL, 458)","(s, 393)","(?, 318)","(I, 302)","(to, 481)"
11,"(and, 457)","(?, 332)","(I, 317)","(MIA, 260)","(The, 465)"
12,"(Joel, 451)","(and, 320)","((, 285)","(Sebastian, 255)","(and, 441)"
13,"(you, 408)","(SAMANTHA, 300)","(), 285)","(SEBASTIAN, 239)","(..., 433)"
14,"(-, 403)","(Theodore, 236)","(you, 271)","((, 217)","(NEMO, 417)"
15,"(?, 379)","(it, 217)","(of, 266)","(), 217)","(his, 412)"
16,"(CLEMENTINE, 374)","(in, 203)","(it, 256)","(?, 216)","(I, 383)"
17,"(t, 285)","(-, 196)","(Murph, 236)","(her, 206)","(s, 366)"
18,"(of, 282)","(that, 195)","(INT, 229)","(in, 205)","(on, 305)"
19,"(is, 279)","(of, 188)","(CONTINUOUS, 225)","(you, 196)","((, 288)"
20,"(in, 274)","(CONTINUED, 186)","(at, 222)","(it, 186)","(), 288)"
21,"(it, 272)","(t, 175)","(is, 218)","(of, 164)","(?, 280)"
22,"(Clementine, 216)","(on, 169)","(in, 205)","(on, 162)","(you, 269)"
23,"(CONTINUED, 213)","(m, 160)","(and, 201)","(at, 159)","("", 248)"
24,"(He, 196)","(me, 155)","(BRAND, 191)","(The, 136)","(at, 243)"
25,"(that, 186)","(He, 140)","(The, 186)","(She, 117)","(t, 213)"
26,"(at, 182)","(', 138)","(Brand, 186)","(is, 115)","(DAY, 209)"
27,"(m, 182)","(his, 136)","(t, 181)","(A, 113)","(him, 207)"
28,"(She, 181)","(is, 132)","(on, 166)","(t, 113)","(it, 204)"
29,"(on, 179)","(with, 120)","(MURPH, 161)","(as, 106)","(A, 187)"
30,"(her, 177)","(:, 114)","(up, 159)","(We, 101)","(her, 185)"
31,"(S, 174)","(just, 112)","(EXT, 148)","(we, 99)","(are, 181)"
32,"(The, 159)","(at, 111)","(his, 133)","(It, 98)","(INT, 174)"
33,"(It, 157)","(Her, 108)","(out, 132)","(CONT, 97)","(Anna, 160)"
34,"(know, 155)","(pg, 104)","(we, 129)","(D, 97)","(We, 153)"
35,"(:, 153)","(know, 104)","(looks, 128)","(that, 92)","(She, 149)"
36,"(his, 153)","(her, 101)","(for, 124)","(his, 91)","(with, 148)"
37,"(with, 151)","(re, 95)","(her, 118)","(He, 90)","(S, 148)"
38,"(me, 149)","(was, 90)","(back, 111)","(up, 90)","(It, 145)"
39,"(You, 134)","(are, 86)","(MANN, 101)","(for, 87)","(Mr, 132)"
40,"(..., 129)","(You, 85)","(DR, 99)","(looks, 85)","(looks, 131)"
41,"(don, 128)","(about, 84)","(S, 98)","(Revision, 84)","(11, 127)"
42,"(out, 127)","(not, 84)","(as, 96)","(then, 83)","(NOBODY, 126)"
43,"(INT, 127)","(your, 84)","(that, 94)","(:, 80)","(EXT, 125)"
44,"(D, 120)","(but, 80)","(over, 94)","(INT, 80)","(VERSION, 124)"
45,"(CONT, 119)","(he, 78)","(into, 94)","(You, 80)","(They, 124)"
46,"(up, 116)","(She, 78)","(re, 93)","(out, 77)","(up, 119)"
47,"(looks, 112)","(don, 78)","(COCKPIT, 90)","(re, 76)","(out, 117)"
48,"(my, 106)","(like, 77)","(Dr, 90)","(she, 70)","(:, 116)"
49,"(like, 104)","(out, 77)","(this, 89)","(this, 66)","(CONT, 113)"

In [18]:
common_set=set([])
set_eternal=set([x[0] for x in freq_analysis["eternal"]])
set_her=set([x[0] for x in freq_analysis["her"]])
set_interstellar=set([x[0] for x in freq_analysis["interstellar"]])
set_lalaland=set([x[0] for x in freq_analysis["lalaland"]])
set_mrnobody=set([x[0] for x in freq_analysis["mrnobody"]])
ommon_set=set([])
for x in [set_eternal,set_her,set_interstellar,set_lalaland,set_mrnobody]:
  for y in [set_eternal,set_her,set_interstellar,set_lalaland,set_mrnobody]:
    for z in [set_eternal,set_her,set_interstellar,set_lalaland,set_mrnobody]:
      if x!=y and x!=z and y!=z:
        common_set=common_set.union(x&y&z)

common_set

{'(',
 ')',
 ',',
 '-',
 '.',
 '...',
 ':',
 '?',
 'CONT',
 'He',
 'I',
 'INT',
 'It',
 'S',
 'She',
 'The',
 'You',
 'a',
 'and',
 'at',
 'her',
 'his',
 'in',
 'is',
 'it',
 'looks',
 'of',
 'on',
 'out',
 're',
 's',
 't',
 'that',
 'the',
 'to',
 'up',
 'with',
 'you'}

<font face="XB Zar" size=4><div dir=rtl>
روی هم رفته میبینیم که هیچ مفهوم مشترکی که اطلاعات جدیدی به ما اضافه کند استخراج نشد و پرتکرار های نشترک تعدادی علامت نگارشی یا ضمیر و ... هستند.